<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"></head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<body class="bg-secondary">
    <br>
    <br><br><br><br><br><br><br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="bg-light img-thumbnail">
                    <p>Are u sure u want to delete this record..? </p>
                    <form method="POST">
                        {% csrf_token %}
                        <a href="{% url 'index' %}"> <button class="btn btn-info">Cancel</button></a>
                        <input type="submit" class="btn btn-danger" value="DeleteRecord">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
